{
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 120,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.{js,jsx,ts,tsx}",
      "options": {
        "parser": "babel-ts"
      }
    },
    {
      "files": "*.json",
      "options": {
        "parser": "json"
      }
    }
  ],
  "tailwindConfig": "./tailwind.config.ts"
}
